@model MyMeetingManager.Models.Meeting

@{
    ViewData["Title"] = "Update Meeting";
}

<h1 class="text-center">Update Meeting</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check-inline form-switch form-switch-md">
                <label class="form-check-label" for="FastMeeting">@Html.DisplayNameFor(model => Model.FastAndTestimonyMeeting)</label>
                <input class="form-check-input" name="FastMeeting" type="checkbox" id="FastMeeting" asp-for="FastAndTestimonyMeeting">
            </div>

            <div class="form-group">
                <label for="WardSelect" class="control-label"></label>
                <select name="WardSelect" id="WardSelect" class="form-control select2-single">
                    @{
                        if (Model.Ward == null)
                        {
                            @:<option selected="selected" value="">--Select a Ward--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.Ward.ID">@Model.Ward.Name</option>
                        }
                        foreach (Ward w in ViewBag.WardList)
                        {
                            @:<option value="@w.ID">@w.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="PresidingSelect" class="control-label">Presiding</label>
                <select name="PresidingSelect" id="PresidingSelect" class="form-control select2-single">
                    @{
                        if (Model.Presiding == null)
                        {
                            @:<option selected="selected" value="">--Select a Leader--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.Presiding.ID">@Model.Presiding.Salutation @Model.Presiding.Name</option>
                        }
                        foreach (Member l in ViewBag.LeaderList)
                        {
                            @:<option value="@l.ID">@l.Salutation @l.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="ConductingSelect" class="control-label">Conducting</label>
                <select name="ConductingSelect" id="ConductingSelect" class="form-control select2-single">
                    @{
                        if (Model.ConductingLeader == null)
                        {
                            @:<option selected="selected" value="">--Select a Leader--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.ConductingLeader.ID">@Model.ConductingLeader.Salutation @Model.ConductingLeader.Name</option>
                        }
                        foreach (Member l in ViewBag.LeaderList)
                        {
                            @:<option value="@l.ID">@l.Salutation @l.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="ChoristerSelect" class="control-label">Chorister</label>
                <select name="ChoristerSelect" id="ChoristerSelect" class="form-control select2-single">
                    @{
                        if (Model.Chorister == null)
                        {
                            @:<option selected="selected" value="">--Select a Chorister--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.Chorister.ID">@Model.Chorister.Salutation @Model.Chorister.Name</option>
                        }
                        foreach (Member m in ViewBag.MemberList)
                        {
                            @:<option value="@m.ID">@m.Salutation @m.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="OrganistSelect" class="control-label">Organist</label>
                <select name="OrganistSelect" id="OrganistSelect" class="form-control select2-single">
                    @{
                        if (Model.Organist == null)
                        {
                            @:<option selected="selected" value="">--Select an Organist--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.Organist.ID">@Model.Organist.Salutation @Model.Organist.Name</option>
                        }
                        foreach (Member m in ViewBag.MemberList)
                        {
                            @:<option value="@m.ID">@m.Salutation @m.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="OpeningHymnSelect" class="control-label">Opening Hymn</label>
                <select name="OpeningHymnSelect" id="OpeningHymnSelect" class="form-control select2-single">
                    @{
                        if (Model.OpeningHymn == null)
                        {
                            @:<option selected="selected" value="">--Select an Opening Hymn--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.OpeningHymn.ID">@Model.OpeningHymn.Title #@Model.OpeningHymn.Number</option>
                        }
                        foreach (Hymn h in ViewBag.HymnList)
                        {
                            @:<option value="@h.ID">@h.Title #@h.Number</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="OpeningPrayerSelect" class="control-label">Opening Prayer</label>
                <select name="OpeningPrayerSelect" id="OpeningPrayerSelect" class="form-control select2-single">
                    @{
                        if (Model.OpeningPrayerMember == null)
                        {
                            @:<option selected="selected" value="">--Select a Member--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.OpeningPrayerMember.ID">@Model.OpeningPrayerMember.Salutation @Model.OpeningPrayerMember.Name</option>
                        }
                        foreach (Member m in ViewBag.MemberList)
                        {
                            @:<option value="@m.ID">@m.Salutation @m.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Announcements" class="control-label"></label>
                <input asp-for="Announcements" class="form-control" />
                <span asp-validation-for="Announcements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SacramentHymnSelect" class="control-label">Sacrament Hymn</label>
                <select name="SacramentHymnSelect" id="SacramentHymnSelect" class="form-control select2-single">
                    @{
                        if (Model.SacramentHymn == null)
                        {
                            @:<option selected="selected" value="">--Select a Sacrament Hymn--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.SacramentHymn.ID">@Model.SacramentHymn.Title #@Model.SacramentHymn.Number</option>
                        }
                        foreach (Hymn h in ViewBag.HymnList)
                        {
                            @:<option value="@h.ID">@h.Title #@h.Number</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="RestHymnSelect" class="control-label">Rest Hymn</label>
                <select name="RestHymnSelect" id="RestHymnSelect" class="form-control select2-single-tags">
                    @{
                        if (Model.SacramentHymn == null)
                        {
                            @:<option selected="selected" value="">--Select a Rest Hymn--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="-1">@Model.OptionalRestHymnTitle</option>
                        }
                        foreach (Hymn h in ViewBag.HymnList)
                        {
                            @:<option value="@h.ID">@h.Title #@h.Number</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="RestHymnMemberSelect" class="control-label">Rest Hymn Performer</label>
                <select name="RestHymnMemberSelect" id="RestHymnMemberSelect" class="form-control select2-single">
                    @{
                        if (Model.OptionalRestHymnMember == null)
                        {
                            @:<option selected="selected" value="">--Select a Rest Hymn Performer--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.OptionalRestHymnMember.ID">@Model.OptionalRestHymnMember.Salutation @Model.OptionalRestHymnMember.Name</option>
                        }
                        foreach (Member m in ViewBag.MemberList)
                        {
                            @:<option value="@m.ID">@m.Salutation @m.Name</option>
                        }
                    }
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="OptionalRestHymnTitle" class="control-label"></label>
            <input asp-for="OptionalRestHymnTitle" class="form-control" />
            <span asp-validation-for="OptionalRestHymnTitle" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label for="ClosingHymnSelect" class="control-label">Closing Hymn</label>
                <select name="ClosingHymnSelect" id="ClosingHymnSelect" class="form-control select2-single">
                    <option value="">--Select a Closing Hymn--</option>
                    @{
                        if (Model.ClosingHymn == null)
                        {
                            @:<option selected="selected" value="">--Select a Closing Hymn--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.ClosingHymn.ID">@Model.ClosingHymn.Title #@Model.ClosingHymn.Number</option>
                        }
                        foreach (Hymn h in ViewBag.HymnList)
                        {
                            @:<option value="@h.ID">@h.Title #@h.Number</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="ClosingPrayerSelect" class="control-label">Closing Prayer</label>
                <select name="ClosingPrayerSelect" id="ClosingPrayerSelect" class="form-control select2-single">
                    <option value="">--Select a Member--</option>
                    @{
                        if (Model.ClosingPrayerMember == null)
                        {
                            @:<option selected="selected" value="">--Select a Member for Closing Prayer--</option>
                        }
                        else
                        {
                            @:<option selected="selected" value="@Model.ClosingPrayerMember.ID">@Model.ClosingPrayerMember.Salutation @Model.ClosingPrayerMember.Name</option>
                        }
                        foreach (Member m in ViewBag.MemberList)
                        {
                            @:<option value="@m.ID">@m.Salutation @m.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Update" /> |
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
