@model MyMeetingManager.Models.Meeting

@{
    ViewData["Title"] = "PagePrint2";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    
}

<div id="program-header">
    <h1>@Html.DisplayFor(model => model.Ward.Name)</h1>
    <h2>
        @{
            String dateString;

            dateString = Model.MeetingDate.ToLongDateString();

            Html.Display(dateString);
        }
    </h2>
    <hr />
    @Html.DisplayNameFor(model => model.Presiding)

    @Html.DisplayFor(model => model.Presiding.Salutation) @Html.DisplayFor(model => model.Presiding.Name)
    <br />

    @Html.DisplayNameFor(model => model.ConductingLeader)

    @Html.DisplayFor(model => model.ConductingLeader.Salutation) @Html.DisplayFor(model => model.ConductingLeader.Name)

    <br />
    @Html.DisplayNameFor(model => model.Chorister)

    @Html.DisplayFor(model => model.Chorister.Salutation) @Html.DisplayFor(model => model.Chorister.Name)
    
    <br />
    @Html.DisplayNameFor(model => model.Organist)

    @Html.DisplayFor(model => model.Organist.Salutation) @Html.DisplayFor(model => model.Organist.Name)

    <hr />

    @Html.DisplayNameFor(model => model.OpeningHymn)

<em>@Html.DisplayFor(model => model.OpeningHymn.Title)</em> #@Html.DisplayFor(model => model.OpeningHymn.Number)

    <br />
    @Html.DisplayNameFor(model => model.OpeningPrayerMember)

    @Html.DisplayFor(model => model.OpeningPrayerMember.Salutation) @Html.DisplayFor(model => model.OpeningPrayerMember.Name)
</div>

<div>
    @if (Model.Announcements != null)
    {
        <hr />
        @Html.DisplayNameFor(model => model.Announcements)
        <br />

        @Html.DisplayFor(model => model.Announcements)
        <hr />
    }

    @Html.DisplayNameFor(model => model.SacramentHymn)


    <em>@Html.DisplayFor(model => model.SacramentHymn.Title)</em> #@Html.DisplayFor(model => model.SacramentHymn.Number)

    <br />
    <h3>Administration of the Sacrament</h3>

    @if (Model.OptionalRestHymnTitle != null)
    {

        Html.DisplayNameFor(model => model.OptionalRestHymnTitle);

        <em>Html.DisplayFor(model => model.OptionalRestHymnTitle);</em>
        Html.Display("by");
        @Html.DisplayFor(model => model.OptionalRestHymnMember.Salutation) @Html.DisplayFor(model => model.OptionalRestHymnMember.Name);
        <br />
    }

    @if (Model.Speakers.Count > 0)
    {
        @foreach (var item in Model.Speakers)
        {
            Html.Display("Speaker ");
            @Html.DisplayFor(modelItem => item.Member.Salutation)  @Html.DisplayFor(modelItem => item.Member.Name)
            <br />
        }
    }else
    {
        <h3>@Html.Display("Bearing of Testimonies")</h3>
    }

    @Html.DisplayNameFor(model => model.ClosingHymn)
    <em>@Html.DisplayFor(model => model.ClosingHymn.Title)</em> #@Html.DisplayFor(model => model.ClosingHymn.Number)
    <br />

    @Html.DisplayNameFor(model => model.ClosingPrayerMember)
    @Html.DisplayFor(model => model.ClosingPrayerMember.Salutation) @Html.DisplayFor(model => model.ClosingPrayerMember.Name)
</div>