@model MyMeetingManager.Models.Member

@{
    ViewData["Title"] = "Member Details";
}

<h1 class="text-center">Member Details</h1>
<hr />

<div>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salutation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salutation)
        </dd>
        @if (Model.isLeader)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.isLeader)
            </dt>
            <dd class="col-sm-10">
                <label class="bi bi-check-square-fill"></label>
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Update</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
