@model IEnumerable<MyMeetingManager.Models.Ward>

@{
    ViewData["Title"] = "Wards";
}

<h1 class="text-center">Wards</h1>
<hr />
<p>
    <a class="btn btn-info" asp-action="Create">Add Ward</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Update</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
