@model MyMeetingManager.Models.Speaker

@{
    ViewData["Title"] = "Add Speaker";
}

<h1 class="text-center">Add Speaker</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="MeetingSelect" class="control-label">Meeting</label>
                <select name="MeetingSelect" id="MeetingSelect" class="form-control select2-single">
                    <option value="">--Select a Meeting--</option>
                    @{
                        foreach (Meeting m in ViewBag.MeetingList)
                        {
                            @:<option value="@m.ID">@m.MeetingDate.ToShortDateString()</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="MemberSelect" class="control-label">Member</label>
                <select name="MemberSelect" id="MemberSelect" class="form-control select2-single">
                    <option value="">--Select a Member--</option>
                    @{
                        foreach (Member m in ViewBag.MemberList)
                        {
                            @:<option value="@m.ID">@m.Salutation @m.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minutes" class="control-label"></label>
                <input asp-for="Minutes" class="form-control" />
                <span asp-validation-for="Minutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add"/> | 
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
